@import url('https://fonts.googleapis.com/css?family=Comfortaa:wght@300&display=swap');
* {
    margin:auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f08080;
}
button {
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}
span {
    text-align: right;
    font: italic;
}
div.click {
    text-align: right;
}
.name {
    font-weight: initial;
    font-style: italic;

}
.card {
    width: 600px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 15px;
}
.quotation{
    font-size: 25px;
    margin: 0 auto;
    /* quotes: "\201C""\201D""\2018""\2019"; */
    padding: 10px 20px;
    line-height: 1.4;
}
  
.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: lightgrey;
    font-size: 3em;
}
.quotation:after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: lightgray;
    font-size: 3em;
}
.name {
    font-size: 20px;
    text-align: right;
}